.processPaymentDiv {
    margin-left: 30%;
    margin-top: 20%;
}

.clearCartDiv {
    margin-left: 30%;
    /* margin-top: 20%; */
}

/* body {
    position: relative;
} */

.cartDisplay {
    width: 600px;
    height: 50vh;
    position: relative;
    margin-top: 5%;
    background-color: black;
}

.cartDisplay::after {
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: -2;
    filter: blur(20px);
}

.cartItemDisplay {
    width: 300px;
    height: 50vh;
    object-fit: contain;
    position: absolute;
    top: 1px;
    left: 1px;
    overflow: hidden;
}

.cartItemInfo {
    width: 300px;
    height: 50vh;
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    overflow: hidden;
    margin-top: 3%;
    margin-bottom: -1%;
}
